.cardFront {
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.cardContainer {
 transform-style: preserve-3d;
 transform: perspective(23rem);
 cursor: auto;
 max-width: 285px;
 max-height: 398px;
}

.cardContainer.cardShowBack {
  transform: perspective(23rem) rotateY(180deg);
  cursor: pointer;
}

/* Portrait orientation */
@media screen and (orientation: portrait) {
 .cardContainer {
    width: 185px;
    height: 258px;
 }
}

/* Landscape orientation */
@media screen and (orientation: landscape) {
 .cardContainer {
    width: 285px;
    height: 398px;
 }
}